---
export const prerender = false;
---

<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="refresh" content="0; url=/es">
  <title>Redirigiendo...</title>
</head>
<body>
  <p>Redirigiendo a <a href="/es/">versión en español</a>...</p>
</body>
</html>