---
---

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="0;url=/es/">
    <title>Jonnathan Aguilar | Desarrollador Full Stack</title>
    
    <link rel="icon" href="/favicon.ico" sizes="48x48" >
    <link rel="icon" href="/favicon.svg" sizes="any" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="manifest" href="/site.webmanifest" />

    <script is:inline>
        window.location.pathname = '/es/';
    </script>
</head>
<body>
</body>
</html>